body {
  background: transparent;
  height: 100vh;
  overflow: hidden;
}

.center-item-row {
  align-items: center;
  flex-direction: row;
  display: flex;
}

.center-item-row > * {
  white-space: nowrap;:
}